In [1]:
import pandas as pd

In [2]:
from sklearn.neighbors import KNeighborsClassifier

In [3]:
df = pd.read_csv('C:/Users/welcome/Desktop/playball.csv')

In [4]:
df.head()

   DAY  OUTLOOK  TEMP  HUMIDITY  WIND PLAYBOLL
0    1        1     1         1     0       NO
1    2        1     1         1     1       NO
2    3        2     1         1     0      YES
3    4        3     2         1     0      YES
4    5        3     3         0     0      YES

In [5]:
print("# of day in orginal data: "+str(len(df.index)))

# of day in orginal data: 14

In [6]:
df.isnull().sum()

DAY         0
OUTLOOK     0
TEMP        0
HUMIDITY    0
WIND        0
PLAYBOLL    0
dtype: int64

In [7]:
x=df.iloc[:,[0,1,2]].values
y=df.iloc[:,3].values

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33,random_state=0)

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
sc=StandardScaler()
x=train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [13]:
clf_KNN = KNeighborsClassifier()
clf_KNN.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [14]:
KNN = clf_KNN.predict(x_test)

In [15]:
from sklearn.metrics import accuracy_score

In [16]:
accuracy_score(y_test,KNN)

0.4