In [1]:
import pandas as pd

In [8]:
bank = pd.read_csv('C:/Users/welcome/Desktop/BankData.csv')

In [11]:
bank.head(4)

,T.ID,ACCOUNT NUMBER,NAME,CITY,BRANCH,TYPE OF LOANS,P.CODE,TYPE OF FIXED DIPOSIT,REGION,DATE,LONES AMOUNT,FIXED DIPOSIT AMOUNT,PAYBLE AMOUNT,DISCOUTS,TAX Percentage,TOTAL TAX AMOUNT,TOTAL REVENUE
0,1,10001,ARETI RAMA,HYDERABAD,AMEERPET,CAR,500038,FD,SOUTH,19-03-2015,500000,50000,450000,10%,15%,67500.0,472500.0
1,2,10002,AREPALLI KRISHNA,HYDERABAD,KUKATPALLI,HOUSE,500072,RID,SOUTH,20-05-2015,100000,10000,90000,10%,10%,9000.0,99000.0
2,3,10003,ALLAM ANJANEYULU,HYDERABAD,BEGAMPET,EDUCATION,500016,RD,SOUTH,07-02-2015,600000,100000,500000,10%,15%,75000.0,575000.0
3,4,10004,AMABATI SATYANARAYANA,HYDERABAD,MOOSAPET,BUSINESS,500018,FD,SOUTH,15-05-2015,200000,50000,150000,10%,10%,15000.0,165000.0

In [12]:
import numpy as np

In [13]:
bank_num=bank.select_dtypes(include=[np.number])
bank_char=bank.select_dtypes(include=[object])

In [14]:
bank_num.head()

,T.ID,ACCOUNT NUMBER,LONES AMOUNT,FIXED DIPOSIT AMOUNT,PAYBLE AMOUNT,TOTAL TAX AMOUNT,TOTAL REVENUE
0,1,10001,500000,50000,450000,67500.0,472500.0
1,2,10002,100000,10000,90000,9000.0,99000.0
2,3,10003,600000,100000,500000,75000.0,575000.0
3,4,10004,200000,50000,150000,15000.0,165000.0
4,5,10005,400000,20000,380000,57000.0,437000.0

In [15]:
bank_char.head()

,NAME,CITY,BRANCH,TYPE OF LOANS,P.CODE,TYPE OF FIXED DIPOSIT,REGION,DATE,DISCOUTS,TAX Percentage
0,ARETI RAMA,HYDERABAD,AMEERPET,CAR,500038,FD,SOUTH,19-03-2015,10%,15%
1,AREPALLI KRISHNA,HYDERABAD,KUKATPALLI,HOUSE,500072,RID,SOUTH,20-05-2015,10%,10%
2,ALLAM ANJANEYULU,HYDERABAD,BEGAMPET,EDUCATION,500016,RD,SOUTH,07-02-2015,10%,15%
3,AMABATI SATYANARAYANA,HYDERABAD,MOOSAPET,BUSINESS,500018,FD,SOUTH,15-05-2015,10%,10%
4,ALAMURI VENKATARAMANA,HYDERABAD,AMEERPET,CAR,500038,RID,SOUTH,10-07-2015,10%,15%

# Cleaning Numerical Variables

In [16]:
bank_num.isnull().sum()

T.ID                    0
ACCOUNT NUMBER          0
LONES AMOUNT            0
FIXED DIPOSIT AMOUNT    0
PAYBLE AMOUNT           0
TOTAL TAX AMOUNT        0
TOTAL REVENUE           0
dtype: int64

#    cleaning categorical variables

In [17]:
bank_char.isnull().sum()

NAME                     0
CITY                     0
BRANCH                   0
TYPE OF LOANS            0
P.CODE                   0
TYPE OF FIXED DIPOSIT    0
REGION                   0
DATE                     0
DISCOUTS                 0
TAX Percentage           0
dtype: int64

In [18]:
from sklearn.preprocessing import LabelEncoder

In [19]:
le = LabelEncoder()

In [20]:
bank_char = bank_char.apply(le.fit_transform)

In [21]:
bank_final = pd.concat([bank_num,bank_char],axis=1)

In [22]:
bank_final.head()

,T.ID,ACCOUNT NUMBER,LONES AMOUNT,FIXED DIPOSIT AMOUNT,PAYBLE AMOUNT,TOTAL TAX AMOUNT,TOTAL REVENUE,NAME,CITY,BRANCH,TYPE OF LOANS,P.CODE,TYPE OF FIXED DIPOSIT,REGION,DATE,DISCOUTS,TAX Percentage
0,1,10001,500000,50000,450000,67500.0,472500.0,9,4,2,1,12,0,2,7,0,1
1,2,10002,100000,10000,90000,9000.0,99000.0,8,4,12,3,13,2,2,8,0,0
2,3,10003,600000,100000,500000,75000.0,575000.0,4,4,7,2,10,1,2,0,0,1
3,4,10004,200000,50000,150000,15000.0,165000.0,5,4,15,0,11,0,2,5,0,0
4,5,10005,400000,20000,380000,57000.0,437000.0,3,4,2,1,12,2,2,1,0,1

# TRAIN MODEL

In [29]:
from sklearn.model_selection import train_test_split

In [27]:
x=pd.DataFrame(bank_final['TYPE OF FIXED DIPOSIT'])

In [28]:
y=pd.DataFrame(bank_final['TAX Percentage'])

In [30]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

# Model Selection

In [31]:
from sklearn.linear_model import LogisticRegression

In [33]:
lr=LogisticRegression()

In [34]:
lr.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [35]:
pre=lr.predict(x_test)

In [36]:
from sklearn.metrics import classification_report

In [37]:
classification_report(y_test,pre)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

'              precision    recall  f1-score   support\n\n           0       0.29      1.00      0.45         5\n           1       0.00      0.00      0.00        10\n           2       0.38      0.55      0.44        11\n           3       0.00      0.00      0.00         7\n\n   micro avg       0.33      0.33      0.33        33\n   macro avg       0.17      0.39      0.22        33\nweighted avg       0.17      0.33      0.22        33\n'

In [38]:
from sklearn.metrics import confusion_matrix

In [40]:
confusion_matrix(y_test,pre)

array([[5, 0, 0, 0],
       [3, 0, 7, 0],
       [5, 0, 6, 0],
       [4, 0, 3, 0]], dtype=int64)

# Acuraccy

In [41]:
from sklearn.metrics import accuracy_score

In [42]:
accuracy_score(y_test,pre)

0.3333333333333333

# Conclusion

In [43]:
#Live bank data is taken and preprocessed. All the categorical variables are transformed into the numerical values. 
# Logistic regression is the Model selected. Classifications(TYPE OF FIXED DIPOSIT,TAX percentage) are considered and fitted into the 
#x and y variables for training the model. classification report is obtained and accuracy obtained  by the trained model is 0.333333.