In [108]:
import pandas as pd

In [109]:
rainfall = pd.read_csv('C:/Users/welcome/Desktop/CHARAN/Supervised learning/data/chennai/chennai_reservoir_rainfall.csv')

In [110]:
rainfall.head()

         Date  POONDI  CHOLAVARAM  REDHILLS  CHEMBARAMBAKKAM
0  01-01-2004     0.0         0.0       0.0              0.0
1  02-01-2004     0.0         0.0       0.0              0.0
2  03-01-2004     0.0         0.0       0.0              0.0
3  04-01-2004     0.0         0.0       0.0              0.0
4  05-01-2004     0.0         0.0       0.0              0.0

# Pre - Processing 'Date' Variable

In [111]:
import numpy as np

In [112]:
rainfall_num=rainfall.select_dtypes(include=[np.number])
rainfall_char=rainfall.select_dtypes(include=[object])

In [113]:
rainfall_num.head()

   POONDI  CHOLAVARAM  REDHILLS  CHEMBARAMBAKKAM
0     0.0         0.0       0.0              0.0
1     0.0         0.0       0.0              0.0
2     0.0         0.0       0.0              0.0
3     0.0         0.0       0.0              0.0
4     0.0         0.0       0.0              0.0

In [114]:
rainfall_char.head()

         Date
0  01-01-2004
1  02-01-2004
2  03-01-2004
3  04-01-2004
4  05-01-2004

# Pre-processing categorical variables

In [115]:
rainfall_num.isnull().sum()

POONDI             0
CHOLAVARAM         0
REDHILLS           0
CHEMBARAMBAKKAM    0
dtype: int64

In [116]:
rainfall_char.isnull().sum()

Date    0
dtype: int64

In [117]:
from sklearn.preprocessing import LabelEncoder

In [118]:
le = LabelEncoder()

In [119]:
rainfall_char = rainfall_char.apply(le.fit_transform)

In [120]:
rainfall_final = pd.concat([rainfall_num,rainfall_char],axis=1)

In [121]:
rainfall_final.head()

   POONDI  CHOLAVARAM  REDHILLS  CHEMBARAMBAKKAM  Date
0     0.0         0.0       0.0              0.0     0
1     0.0         0.0       0.0              0.0   189
2     0.0         0.0       0.0              0.0   378
3     0.0         0.0       0.0              0.0   567
4     0.0         0.0       0.0              0.0   756


# Train model  and prediction for Rainfall Prediction DATE AND PONDI

In [211]:
from sklearn.model_selection import train_test_split

In [212]:
x=pd.DataFrame(rainfall_final['Date'])

In [213]:
y=pd.DataFrame(rainfall_final['POONDI'])

In [214]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=9)

In [215]:
from sklearn.linear_model import LinearRegression

In [216]:
lr= LinearRegression()

In [217]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [218]:
pre=lr.predict(x_test)

In [219]:
from sklearn.metrics import mean_squared_error

In [220]:
from sklearn.metrics import r2_score

In [221]:
test_set_rmse = (np.sqrt(mean_squared_error(y_test, pre)))
test_set_r2 = r2_score(y_test, pre)

In [222]:
print(test_set_rmse)
print("Accuracy:",test_set_r2)

15.375345686877255
Accuracy: 0.00025927974295547607

In [223]:
fit = lr.fit(x,y)

In [224]:
fit.score(x,y)

0.00020073638618134382

# Train model  and prediction for Rainfall in Prediction DATE AND CHOOLAVARAM

In [225]:
x=pd.DataFrame(rainfall_final['Date'])

In [226]:
y=pd.DataFrame(rainfall_final['CHOLAVARAM'])

In [227]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=0)

In [228]:
from sklearn.linear_model import LinearRegression

In [229]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [230]:
pre=lr.predict(x_test)

In [231]:
from sklearn.metrics import mean_squared_error

In [232]:
from sklearn.metrics import r2_score

In [233]:
print(test_set_rmse)
print("Accuracy:",test_set_r2)

15.375345686877255
Accuracy: 0.00025927974295547607

In [234]:
fit = lr.fit(x,y)

In [235]:
fit.score(x,y)

0.0001446074999738034

# Train model  and prediction for Rainfall in Prediction DATE AND REDHILLS

In [236]:
x=pd.DataFrame(rainfall_final['Date'])

In [237]:
y=pd.DataFrame(rainfall_final['REDHILLS'])

In [238]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=9)

In [239]:
from sklearn.linear_model import LinearRegression

In [240]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [241]:
pre=lr.predict(x_test)

In [242]:
from sklearn.metrics import mean_squared_error

In [243]:
from sklearn.metrics import r2_score

In [244]:
print(test_set_rmse)
print("Accuracy:",test_set_r2)

15.375345686877255
Accuracy: 0.00025927974295547607

In [245]:
fit = lr.fit(x,y)

In [246]:
fit.score(x,y)

0.0006163345231919859

# Train model  and prediction for Rainfall in Prediction DATE AND REDHILLS

In [248]:
x=pd.DataFrame(rainfall_final['Date'])

In [249]:
y=pd.DataFrame(rainfall_final['CHEMBARAMBAKKAM'])

In [250]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=9)

In [251]:
from sklearn.linear_model import LinearRegression

In [252]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [253]:
pre=lr.predict(x_test)

In [254]:
from sklearn.metrics import mean_squared_error

In [255]:
from sklearn.metrics import r2_score

In [256]:
print(test_set_rmse)
print("Accuracy:",test_set_r2)

15.375345686877255
Accuracy: 0.00025927974295547607

In [257]:
fit = lr.fit(x,y)

In [258]:
fit.score(x,y)

1.6873838159514598e-05