In [1]:
import pandas as pd

In [2]:
sales = pd.read_csv('C:/Users/welcome/Desktop/salesdata.csv')

In [3]:
sales.head(4)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,09-11-2013,12-11-2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2013-152156,09-11-2013,12-11-2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2013-138688,13-06-2013,17-06-2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2012-108966,11-10-2012,18-10-2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310

In [4]:
import numpy as np

In [5]:
sales_num=sales.select_dtypes(include=[np.number])
sales_char=sales.select_dtypes(include=[object])

In [6]:
sales_num.head()

   Row ID  Postal Code     Sales  Quantity  Discount    Profit
0       1        42420  261.9600         2      0.00   41.9136
1       2        42420  731.9400         3      0.00  219.5820
2       3        90036   14.6200         2      0.00    6.8714
3       4        33311  957.5775         5      0.45 -383.0310
4       5        33311   22.3680         2      0.20    2.5164

In [7]:
sales_char.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name
0,CA-2013-152156,09-11-2013,12-11-2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase
1,CA-2013-152156,09-11-2013,12-11-2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,..."
2,CA-2013-138688,13-06-2013,17-06-2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...
3,US-2012-108966,11-10-2012,18-10-2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table
4,US-2012-108966,11-10-2012,18-10-2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System

# Cleaning Numerical Variables

In [8]:
sales_num.isnull().sum()

Row ID         0
Postal Code    0
Sales          0
Quantity       0
Discount       0
Profit         0
dtype: int64

In [9]:
sales_char.isnull().sum()

Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
dtype: int64

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le = LabelEncoder()

In [12]:
sales_char = sales_char.apply(le.fit_transform)

In [13]:
sales_final = pd.concat([sales_num,sales_char],axis=1)

In [15]:
sales_final.head()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit,Order ID,Order Date,Ship Date,Ship Mode,...,Customer Name,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name
0,1,42420,261.9600,2,0.00,41.9136,2500,359,521,2,...,166,0,0,194,15,2,12,0,4,385
1,2,42420,731.9400,3,0.00,219.5820,2500,359,521,2,...,166,0,0,194,15,2,55,0,5,837
2,3,90036,14.6200,2,0.00,6.8714,2296,501,717,2,...,201,1,0,266,3,3,946,1,10,1431
3,4,33311,957.5775,5,0.45,-383.0310,4372,435,775,3,...,687,0,0,153,8,2,319,0,16,365
4,5,33311,22.3680,2,0.20,2.5164,4372,435,775,3,...,687,0,0,153,8,2,1316,1,14,571

# TRAIN MODEL

In [16]:
from sklearn.model_selection import train_test_split

In [18]:
x=pd.DataFrame(sales_final['Segment'])

In [19]:
y=pd.DataFrame(sales_final['Category'])

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

# MODEL SELECTION

In [21]:
from sklearn.linear_model import LogisticRegression

In [22]:
lr=LogisticRegression()

In [23]:
lr.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [24]:
pre=lr.predict(x_test)

In [25]:
from sklearn.metrics import classification_report

In [26]:
classification_report(y_test,pre)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

'              precision    recall  f1-score   support\n\n           0       0.00      0.00      0.00       669\n           1       0.61      1.00      0.76      2021\n           2       0.00      0.00      0.00       609\n\n   micro avg       0.61      0.61      0.61      3299\n   macro avg       0.20      0.33      0.25      3299\nweighted avg       0.38      0.61      0.47      3299\n'

In [27]:
from sklearn.metrics import confusion_matrix

In [28]:
confusion_matrix(y_test,pre)

array([[   0,  669,    0],
       [   0, 2021,    0],
       [   0,  609,    0]], dtype=int64)

# Accuracy

In [29]:
from sklearn.metrics import accuracy_score

In [30]:
accuracy_score(y_test,pre)

0.6126098817823583

# conclusion

In [ ]:
#Live sales data is taken and preprocessed. All the categorical variables are transformed into the numerical values. 
# Logistic regression is the Model selected. Classifications(Segment,Category) are considered and fitted into the 
#x and y variables for training the model. classification report is obtained and accuracy obtained  by the trained model is 0.6126098817823583